body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    background-color: #F0F0F0;
    margin: 0;
    padding: 20px; /* Adicionado padding para melhor espaçamento em telas menores */
    box-sizing: border-box; /* Garante que padding não aumente o tamanho total */
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

#board {
    display: flex;
    border: 2px solid #333333;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que os slots quebrem para a próxima linha em telas pequenas */
    justify-content: center; /* Centraliza os slots */
    max-width: 100%; /* Garante que o tabuleiro não transborde em telas pequenas */
}

.slot {
    width: 60px;
    height: 60px;
    border: 1px solid #999999;
    background-color: #CCCCCC;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Para simular o círculo do slot */
    position: relative; /* Para posicionar as peças */
    flex-shrink: 0; /* Impede que os slots encolham */
}

.black-piece, .white-piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s ease-in-out; /* Adiciona transição para o movimento */
}

.black-piece {
    background-color: black;
}

.white-piece {
    background-color: white;
    border: 1px solid #333333; /* Adiciona uma borda para as peças brancas se destacarem */
}

.selected {
    border: 2px solid blue;
    box-shadow: 0 0 10px blue;
}

p {
    margin-top: 10px;
    font-size: 18px;
    color: #555555;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056B3;
}

/* Responsividade para telas menores */
@media(max-width: 400px) {
    .slot {
        width: 50px;
        height: 50px;
        margin: 3px;
    }
    .black-piece, .white-piece {
        width: 40px;
        height: 40px;
    }
    h1 {
        font-size: 29px;
    }
    p {
        font-size: 16px;
    }
    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}